<!DOCTYPE html>
<html
  lang="en"
  th:fragment="head(content)"
  xmlns:th="http://www.thymeleaf.org"
  class="h-screen light"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discode</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <style>
      #avatar_container:hover #avatar {
        filter: brightness(0.8);
      }
      #avatar_container:hover #remove_avatar {
        display: flex;
      }
      html.dark > #background_color {
        background-image: linear-gradient(#3b175d, black);
      }
      #background_color {
        background-image: linear-gradient(#9d00ff14, white);
      }
    </style>
  </head>
  <body id="background_color" class="h-full">
    <section data-th-replace="${content}"></section>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <script th:src="${'/js/change.js'}"></script>
  </body>
</html>
