<!DOCTYPE html>
<html lang="en" th:replace="~{base :: head(~{::#content})}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div id="content" class="flex w-full h-full">
      <!-- Original Sidebar -->
      <div th:replace="~{sidebar :: 1_sidebar}"></div>
      <!-- New Sidebar -->
      <div th:replace="~{sidebar :: 2_sidebar}"></div>
      <!-- open new server Modal -->
      <div th:replace="~{modles :: openservermodel}"></div>
      <!-- add server form Modal -->
      <div th:replace="~{modles :: addserverformmodel}"></div>
      <!-- join server form Modal -->
      <div th:replace="~{modles :: joinserverformmodel}">
    </div>
  </body>
</html>
